@font-face {
  font-family: 'Tetsubin';
  src: url('~@/assets/fonts/07_tetsubin-gothic.otf');
}

@font-face {
  font-family: 'Tanuki';
  src: url('~@/assets/fonts/TanukiMagic.ttf');
}

@font-face {
  font-family: 'LightNovelPop';
  src: url('~@/assets/fonts/light-novel-pop.otf');
}
