@font-face {
  font-family: 'Tanuki';
  src: url('~@/assets/fonts/TanukiMagic.ttf');
}

@font-face {
  font-family: 'LightNovelPop';
  src: url('~@/assets/fonts/light-novel-pop.otf');
}

@font-face {
  font-family: 'Rounded';
  src: url('~@/assets/fonts/rounded-mplus-2m-light.ttf');
}
